body {
  margin: 0;
  padding: 0;
}

div {
  border: 1px solid black;
}

.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  border-bottom: 1px solid black;
  width: 100%;
  position: fixed;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 30px;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /*background-color: blue;*/
}

.header p {
  color: mediumaquamarine;
  margin-left: 10px;
}

.header ul {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  /*background-color: green;*/
}

.header li{
  list-style: none;
  margin: 0 30px;
  /*background-color: yellow;*/
}

.header a {
  color: black;
}

.container {
  background-color: green;
  display: flex;
  width: 1300px;
  margin: 0 auto;
}

.column {
  position: relative;
  top: 120px;
  margin-right: 40px;
}

.column.large {
  width: 630px;
  display: flex;
  flex-direction: column;
  background-color: red;
}

.column.medium {
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: yellow;
}

.column.small {
  width: 240px;
  display: flex;
  flex-direction: column;
  background-color: blue;
}

.title-image {

}

.article {
  display: flex;
  flex-wrap: wrap;
}
